{{define "content"}}
<div class="item mb-5">
 <div class="media">
  <a href="{{.Post.PostURL}}">
    <img class="mr-3 post-thumb" src="{{.Post.PostImage}}" alt="image">
  </a>
  <div class="media-body">
    <h3 class="title mb-1">
      <a href="{{.Post.PostURL}}">{{.Post.PostTitle}}</a>
    </h3>
    <div class="meta mb-1">
      <span>{{.Post.Date.Format .PostDisplayDateFormat}}</span>
    </div>
  </div>
 </div>
</div>
<div class="post">
  {{.Post.HTMLContent}}
</div>
{{end}}
